[html]
directory = reports/coverage/html

[xml]
output = reports/coverage/coverage.xml

[run]
omit =
  tests/*
  .tox/*
include = citest/*
branch = True
source = citest/
data_file = reports/coverage/raw_data/coverage
parallel = True


[report]
show_missing = True

